:root {
    --body: white;
    --wrapper: #f5f5f5;
    --font: black;
    --colormode: #7C8BDC;
}

.darkmode {
    --body: black;
    --wrapper: #161616;
    --font: #ffffff;
    --colormode: #5E39C6;
}